@model IEnumerable<ControlProduccion.ViewModel.UserWithRoleViewModel>


<div class="col-md-11 offset-md-1">

    <h2 class="text-center"> Usuarios</h2>
    <div class="ibox">
        <div class="ibox-title">
            <div class="col-sm-8">
                <a asp-controller="UserManagement" asp-action="Create" id="btnAdd" class="btn btn-info btn-outline">
                    <i class="fa fa-plus"></i> Agregar usuario
                </a>

            </div>
        </div>
        <div class="ibox-content">

            <table id="tblUsuarios" class="table tdatatable table-bordered">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Rol</th>
                        <th>Accion</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach(var userWithRole in Model)
                    {
                        <tr>
                            <td>
                            <a asp-action="Edit" asp-route-id="@userWithRole.User.Id">
                                @userWithRole.User.UserName
                            </a>
                            </td>
                            <td>
                                @userWithRole.Role
                            </td>
                            <td>
                                <form asp-action="ToggleLockout" asp-route-id="@userWithRole.User.Id" method="post" style="display:inline;">
                                    @Html.AntiForgeryToken()
                                    @if (userWithRole.User.LockoutEnd.HasValue && userWithRole.User.LockoutEnd.Value > DateTime.UtcNow)
                                    {
                                        <button type="submit" class="btn btn-warning">Desbloquear</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-danger">Bloquear</button>
                                    }
                                </form>
                            </td>
                        </tr>
                    }
            
            
        </tbody>
    </table>
    </div>
    </div>
                    </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
     

    </script>
      
                }